.estado-nuevo {
    background-color: rgb(0 163 136 / 0.2) !important;
    border-color: rgb(0 163 136 / 0.4) !important;
    color: rgb(0 163 136) !important;
}

.estado-usado {
    background-color: rgb(251 191 36 / 0.2) !important;
    border-color: rgb(251 191 36 / 0.4) !important;
    color: rgb(251 191 36) !important;
}
