# Environment files
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker volumes
mysql_data/
mysql_dev_data/
mysql_prod_data/
src/api/imagenes/uploads/*